@-moz-keyframes first_animation {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 200px;
  }
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}
@-webkit-keyframes first_animation {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 200px;
  }
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}
@keyframes first_animation {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 200px;
  }
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}
/* line 20, ../../compass/moduleone/animation.scss */
#first_animation {
  height: 100px;
  width: 100px;
  border: 1px solid red;
  position: relative;
  -moz-animation: first_animation 5s infinite;
  -webkit-animation: first_animation 5s infinite;
  animation: first_animation 5s infinite;
}
