/* line 5, ../../compass/base/basic.scss */
body {
  font-size: 62.5%;
}

/* line 8, ../../compass/base/basic.scss */
#wrapper {
  background: #CCCCCC;
}

/* line 7, ../../compass/moduleone/index.scss */
.main_first {
  border: .2rem solid green;
  font-size: 1.4rem;
}
