/* line 5, ../../compass/base/basic.scss */
body {
  font-size: 62.5%;
}

/* line 8, ../../compass/base/basic.scss */
#wrapper {
  background: #CCCCCC;
}

/* line 4, ../../compass/moduleone/table.scss */
.wrapper > header > h2 {
  text-align: center;
}

/* line 8, ../../compass/moduleone/table.scss */
section {
  border: .2rem solid green;
  width: 60rem;
  height: 30rem;
  padding: .5rem 2rem;
  margin: .5rem 2rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

/* line 18, ../../compass/moduleone/table.scss */
section > table {
  font-size: 1.4rem;
  border: 0.1rem solid black;
}
/* line 2, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
section > table th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
section > table td,
section > table th {
  padding: 2px;
}
/* line 8, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
section > table td.numeric,
section > table th.numeric {
  text-align: right;
}
/* line 16, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table th, section > table td {
  border-right: 0.1rem solid #233551;
  border-bottom: 0.1rem solid #233551;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table th:last-child, section > table td:last-child {
  border-right-width: 0;
}
/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table th.last, section > table td.last {
  border-right-width: 0;
}
/* line 33, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table tbody tr:last-child th, section > table tbody tr:last-child td, section > table tfoot tr:last-child th, section > table tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table tbody tr.last th, section > table tbody tr.last td, section > table tfoot tr.last th, section > table tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table thead th {
  border-bottom: 0.1rem solid black;
}
/* line 9, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table tfoot th, section > table tfoot td {
  border-top: 0.1rem solid black;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
section > table th:first-child {
  border-right: 0.1rem solid black;
}
/* line 2, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table th {
  background-color: white;
}
/* line 4, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table th.even, section > table th:nth-child(2n) {
  background-color: #dddddd;
}
/* line 8, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table tr.odd td, section > table tr:nth-child(2n+1) td {
  background-color: #800055;
}
/* line 10, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table tr.odd td.even, section > table tr.odd td:nth-child(2n), section > table tr:nth-child(2n+1) td.even, section > table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #5e0033;
}
/* line 14, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table tr.even td {
  background-color: green;
}
/* line 16, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table tr.even td.even, section > table tr.even td:nth-child(2n) {
  background-color: #005e00;
}
/* line 19, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table tfoot th, section > table tfoot td {
  background-color: white;
}
/* line 21, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
section > table tfoot th.even, section > table tfoot th:nth-child(2n), section > table tfoot td.even, section > table tfoot td:nth-child(2n) {
  background-color: #dddddd;
}
/* line 25, ../../compass/moduleone/table.scss */
section > table th {
  font: 1.6rem bold;
}
